<!DOCTYPE = html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>drone</title>

	<link href="/styles.css" rel="stylesheet" />
    <style>
        span {
            width: 40%;
            margin: 4%;
        }
        img {width: 100%;}
    </style>

</head>
<body>
    <div class="navBar">
        <ul>
            <li><a id="logo" href="/home"><img src="/images/SHSMLogo.png" alt="SHSM" style="height:60px" /></a></li>
            <li><a href="/home">Home</a></li>
            <li><a href="/about">About</a></li>
            <li class="dropdown">
                <a class="current" href="javascript:void(0)" class="dropbtn">Interact</a>
                <div class="dropdownList">
                    <a href="/int/lights">Lights</a>
                    <a href="/int/drone">Drone</a>
                </div>
            </li>
            <li><a id="signup" href="/signup">Sign Up</a></li>
        </ul>
    </div>

    <br>

    <div class="disclaimer">
        <h4>[time]</h4>
    </div>

    <img id="drone" src="/images/droneOff.png" alt="drone" />
    <br>
    <br>
    <button id="droneBtn">Click to run the drone for 10 seconds</button>
    

	<script src="/script.js"></script>
    <script src="/interact.js"></script>
</body>
</html>