<!DOCTYPE = html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lights</title>

	<link href="/styles.css" rel="stylesheet" />
</head>
<body>
    <div class="navBar">
        <ul>
            <li><a id="logo" href="/home"><img src="/images/SHSMLogo.png" alt="SHSM" style="height:100%" /></a></li>
            <li><a href="/home">Home</a></li>
            <li><a href="/about">About</a></li>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">Interact</a>
                <div class="dropdownList">
                    <a href="lights">Lights</a>
                    <a href="drone">Drone</a>
                </div>
            </li>
            <li><a id="signup" href="/signup">Sign Up</a></li>
        </ul>
    </div>

    <br>
    
    <div class="disclaimer">
        <h4>[time]</h4>
    </div>

    <span style="width:50%">
        <p>red</p>
        <input class="colourSlider" id="red" type="range" min="0" max="255" value="0" />
        
        <p>green</p>
        <input class="colourSlider" id="green" type="range" min="0" max="255" value="0" />

        <p>blue</p>
        <input class="colourSlider" id="blue" type="range" min="0" max="255" value="0" />
    </span>

    <div style="display:inline-block; width:45%; height:25%; padding-top: 10%;">
        <div id="sample" style="background-color:black"></div>
    </div>

    <br>
    <br>

    <button id="submit">Set Colour</button>


    <script src="../lights.js"></script>
</body>
</html>