<!DOCTYPE = html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lights</title>

	<link href="../styles.css" rel="stylesheet" />
</head>
<body>
    <div class="navBar">
        <ul>
            <li><img src="../images/SHSMLogo.jpg" alt="SHSM" style="height:8%" /></li>
            <li><a href="../home">Home</a></li>
            <li><a href="../about">About</a></li>
            <li class="dropdown">
                <a href="javasctipt:void(0)" class="dropbtn">Interact</a>
                <div class="dropdownList">
                    <a href="lights">Lights</a>
                    <a href="drone">Drone</a>
                </div>
            </li>
            <li><a id="signup" href="../signup">Sign Up</a></li>
        </ul>
    </div>

    <br>
    <br>
    <br>

    <p>text</p>

	<script src="../script.js"></script>
    <script src="../interact.mjs"></script>
</body>
</html>