<!DOCTYPE = html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>

	<link href="/styles.css" rel="stylesheet" />
</head>

<body>
    <div class="navBar">
        <ul>
            <li><a id="logo" href="home"><img src="images/SHSMLogo.png" alt="SHSM" /></a></li>
            <li><a href="home">Home</a></li>
            <li><a href="about">About</a></li>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">Interact</a>
                <div class="dropdownList">
                    <a href="/int/lights">Lights</a>
                    <a href="/int/drone">Drone</a>
                </div>
            </li>
            <li><a id="signup" class="current" href="/signup">Sign Up</a></li>
        </ul>
    </div>

    <br>
    <br>

    <h1>Sign Up for SHSM at West!</h1>
    <br>

    <div class="step">
        <span>
            <h1>Step 1</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis fermentum sagittis sapien tristique rhoncus. Morbi ac neque neque.</p>
        </span>
        <span>
            <img src="/images/placeholder.png" alt="step1" />
        </span>
    </div>

    <div class="step">
        <span>
            <h1>Step 2</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis fermentum sagittis sapien tristique rhoncus. Morbi ac neque neque.</p>
        </span>
        <span>
            <img src="/images/placeholder.png" alt="step2" />
        </span>
    </div>

    <div class="step">
        <span>
            <h1>Step 3</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis fermentum sagittis sapien tristique rhoncus. Morbi ac neque neque.</p>
        </span>
        <span>
            <img src="/images/placeholder.png" alt="step3" />
        </span>
    </div>

    <div class="step">
        <span>
            <h1>Step 4</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis fermentum sagittis sapien tristique rhoncus. Morbi ac neque neque.</p>
        </span>
        <span>
            <img src="/images/placeholder.png" alt="step4" />
        </span>
    </div>

    <br>

    <div style="text-align:center">
        <h4>You're all set!</h4>
        <h2><a href="https://forms.ocdsb.ca/Forms/Specialist-High-Skills-Major-Program-Application" target="_blank" id="signup">click here to sign up</a></h2>
    </div>

	<script src="/script.js"></script>
</body>
</html>