<!DOCTYPE = html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>

	<link href="/styles.css" rel="stylesheet" />
    <style>
        .step {
            text-align: left;
            width: 100%;
            padding: 5%;
        }

        h2 {text-align: center;}
    </style>

</head>
<body>
    <div class="navBar">
        <ul>
            <li><img src="/images/SHSMLogo.jpg" alt="SHSM" style="height:8%" /></li>
            <li><a href="/home">Home</a></li>
            <li><a href="/about">About</a></li>
            <li class="dropdown">
                <a href="javasctipt:void(0)" class="dropbtn">Interact</a>
                <div class="dropdownList">
                    <a href="/int/lights">Lights</a>
                    <a href="/int/drone">Drone</a>
                </div>
            </li>
            <li><a id="signup" href="/signup">Sign Up</a></li>
        </ul>
    </div>

    <br>
    <br>
    <br>

    <h1>Sign Up for SHSM at West!</h1>

    <div class="step" style="background-color: rgb(192, 172, 255)">
        <h1>[step 1]</h1>
        <p>info here</p>
    </div>

    <div class="step" style="background-color: rgb(212, 198, 255)">
        <h1>[step 2]</h1>
        <p>info here</p>
    </div>

    <div class="step" style="background-color: rgb(192, 172, 255)">
        <h1>[step 3]</h1>
        <p>info here</p>
    </div>

    <div class="step" style="background-color: rgb(212, 198, 255)">
        <h1>[step 4]</h1>
        <p>info here</p>
    </div>

    <br>

    <h2>You're all set!</h2>
    <h2><a href="" id="signup">click here to sign up</a></h2>

	<script src="/script.js"></script>
</body>
</html>